<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
         <PokemonGame.Properties.Settings>
            <setting name="pathPokemon" serializeAs="String">
                <value>..\..\csv\pokemon.csv</value>
            </setting>
            <setting name="pathSkill" serializeAs="String">
                <value>..\..\csv\skill.csv</value>
            </setting>
        </PokemonGame.Properties.Settings>
    
    </applicationSettings>
    <userSettings>
        <PokemonGame.Properties.Settings>
            <setting name="pathSprites" serializeAs="String">
                <value>..\..\sprites\</value>
            </setting>
        </PokemonGame.Properties.Settings>
    
    </userSettings>
</configuration>